name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    lint:
        name: "Lint the readme"
        runs-on: ubuntu-latest

        steps:
            - name: "Checkout Git repository"
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: "Set up Node.js"
              uses: actions/setup-node@v3
              with:
                  node-version: 'latest'

            - name: "Install dependencies"
              run: |
                  npm install --save-dev awesome-lint
                  npm update

            - name: "Awesome lint"
              run: |
                  npx awesome-lint
